/* Using ELement selectors */
div {
    font-style: italic;
    background-color: chocolate;
    color: aqua;
}

/* Using Descendent selector in same div */
div p {
    background-color: yellow;
    color: darkgrey;
    font-style: initial;
}

.second{
    background-color: blanchedalmond;
    color: black;
    font-style: normal;
}

*{
    font-size: 20px;
    background-color: aquamarine;

}

a:visited{
    color: red;
}
a:active{
    color: purple;
}  
div {
    shape-image-threshold: inherit;
} 
