* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    position: relative;
    height: 95vh;
    width: 100%;
    overflow: hidden;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/05_Mega-Projects/Netflix_Clone/assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.main .box {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
    position: relative;
    z-index: 2;
}

nav img {
    width: 144px;
    margin-top: 20px;
}

.Sign {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 8px;
    border: none;
    font-weight: bolder;
    width: 80px;
    margin-top: 20px;
    font-size: 16px;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;
    z-index: 2;
    text-align: center;
}

.hero> :nth-child(1) {
    font-size: 56px;
    font-weight: 900;
    line-height: 70px;
}

.hero> :nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}

.hero> :nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.main input {
    font-size: 16px;
    width: 300px;
    height: 48px;
    padding: 0 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    font-weight: 500;
    border: 1px solid rgba(246, 238, 238, 0.3);
}

::placeholder {
    color: rgb(184, 183, 183);
    font-size: 16px;
}

.red-btn {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgb(229, 9, 20);
    color: white;
    border-radius: 4px;
    height: 48px;
    border: none;
    cursor: pointer;
}

.seperation {
    height: 5px;
    background-color: rgb(46, 44, 44);
}

.film {
    display: flex;
    flex-direction: row;
    margin-left: 145px;
    /* justify-content: center; */
    align-items: flex-start;
}

.first img {
    padding: 10px;
    margin: 10px;
    gap: 10px;
}

.first h1 {
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 130px;
    margin-top: 25px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.second h1 {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: white;
    margin-left: 130px;
    margin-top: 20px;
}

.second {
    height: 40vh;
}

.box-2 {
    border: 1px solid black;
    border-radius: 10px;
    height: 33vh;
    width: 19vw;
    background-color: gray;
    margin-top: 2vh;
    margin-left: 20px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
}

.box1 :nth-child(1) {
    font-size: 24px;
    padding-top: 10px;
    font-weight: 500;
    color: white;
    padding: 10px;
}

.box1 :nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    color: thistle;
    padding: 10px;
    text-wrap: wrap;
    line-height: normal;
}
.box2 :nth-child(1) {
    font-size: 24px;
    color: white;
    padding: 10px;
    text-wrap: wrap;
    font-weight: 700;
}
.box2 .desc {
    font-size: 16px;
    color: white;
    font-weight: 400;
    padding: 10px;
    color: thistle;
    text-wrap: wrap;
}

.box3 :nth-child(1) {
    font-size: 24px;
    color: white;
    padding: 10px;
    text-wrap: wrap;
    font-weight: 700;
}

.box3 :nth-child(2) {
    font-size: 16px;
    color: white;
    font-weight: 400;
    padding: 10px;
    color: thistle;
    text-wrap: wrap;
}

.box4 :nth-child(1) {
    font-size: 24px;
    color: white;
    padding: 10px;
    text-wrap: wrap;
    font-weight: 700;
}
.box4 :nth-child(2) {
    font-size: 16px;
    color: white;
    font-weight: 400;
    padding: 10px;
    color: thistle;
    text-wrap: wrap;
}


.third h1{
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-left: 130px;
    margin-top: 30px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-3{
    border: 1px solid black;
    height: 9vh;
    width: 80vw;
    background-color: rgb(70, 68, 68);
    margin-top: 2vh;
    margin-left: 20px;
}

.text{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    padding: 10px;
    margin-top: 12px;
    margin-left: 5px;
}

.fourth{display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.end div{
    font-size: 16px;
    margin-top: 2vh;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.last-btn{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgb(229, 9, 20);
    color: white;
    width: 15vw;
    border-radius: 4px;
    height: 48px;
    border: none;
    cursor: pointer;
}
.end input{
    font-size: 16px;
    width: 40vw;
    height: 48px;
    padding: 0 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    font-weight: 500;
    border: 1px solid rgba(246, 238, 238, 0.3);
}
@media screen and (max-width: 1430px) {
    .main {
        height: 85vh;
    }

    .main .box {
        height: 85vh;
    }

    .box-2 {
        width: 22vw;
    }

    .film {
        justify-content: center;
        margin-left: 0;
    }

    .first,
    .second {
        align-items: center;
    }

    .first h1,
    .second h1 {
        text-align: center;
        margin-left: 0;
    }
}

@media screen and (min-width: 2560px) {
    .main {
        height: 100vh;
    }

    .main .box {
        height: 100vh;
    }

    .box-2 {
        width: 15vw;
        font-size: 1.2rem;
    }

    .hero > :nth-child(1) {
        font-size: 72px;
    }

    .hero > :nth-child(2),
    .hero > :nth-child(3) {
        font-size: 24px;
    }

    .main input {
        width: 400px;
        height: 56px;
        font-size: 18px;
    }

    .red-btn {
        height: 56px;
        font-size: 18px;
    }

    .film {
        justify-content: center;
        margin-left: 0;
    }

    .first,
    .second {
        align-items: center;
    }
    .box-2{
        height: 25vh;
        width: 9vw;
    }

    .first h1,
    .second h1 {
        margin-left: 950px;
    }
}

@media screen and (max-width: 1024px) {
    .flex {
        flex-wrap: wrap;
        gap: 20px;
    }

    .box-2 {
        width: 40vw;
        height: auto;
    }

    .film {
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
    }

    .first h1,
    .second h1 {
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        max-width: 90vw;
        padding: 0 10px;
    }

    .box-2 {
        width: 80vw;
        height: auto;
    }

    .film img {
        width: 90%;
        max-width: 300px;
    }

    .hero {
        padding: 0 20px;
        gap: 15px;
    }

    .hero > :nth-child(1) {
        font-size: 36px;
        line-height: 45px;
    }

    .hero > :nth-child(2),
    .hero > :nth-child(3) {
        font-size: 16px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .main input {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .Sign {
        width: 60px;
        font-size: 14px;
        padding: 6px;
    }

    .box-2 {
        width: 90vw;
        height: 20vh;
        margin-left: auto;
        margin-right: auto;
    }

    .first img,
    .film img {
        width: 100%;
        max-width: 100%;
    }

    .hero > :nth-child(1) {
        font-size: 28px;
        line-height: 36px;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .first h1,
    .second h1 {
        margin-left: 130px;
        text-align: left;
    }
}
@media screen and (min-width: 3000px) {
    .first h1,
    .second h1 {
        margin-left: 950px;
        text-align: left;
    }
}
