
*{
    font-family: "Roboto", Arial, sans-serif;
}

.container{
    margin-left: 400px;
    margin-top: 40px;
    display: flex;
    padding: 50px;
    /* background-color: red; */
    flex-direction: column;
}

.card{
    width: 60vw;
    display: flex;
    margin-bottom: 30px;

}

.img-container{
    position: relative;
}
.img{
    border-radius: 10px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}
.duration{
    position: absolute;
    bottom: 4px;
    right: 28px;
    border: 1px solid black;
    border-radius: 3px;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    width: 35px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.title{
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(15, 15, 15);
    margin-left: -10px;
}

.channel-name{
    margin-left: -291.5px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(96, 96, 96);
}

.views{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 30px;
    color: rgb(96, 96, 96);
}

.months-old{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(96, 96, 96);
    margin-top: 30px;
    margin-left: 12px;
}