*{
    margin: 0;
    padding: 0;
}

:root{
    --firstcolor:rgba(29, 27, 27, 0.966);
    --seccolor:rgb(97, 94, 94);
    --thirdcolor:rgb(133, 221, 163);
    --bgcolor:rgb(59, 233, 59);
    --border:rgb(83, 184, 117);
    --footbor:rgb(58, 55, 55);
}

div nav{
    padding: 10px;
    margin: 10px;
    /* margin-left: 250px; */
    /* gap: 50px; */;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: var(--firstcolor);
    color: var(--thirdcolor);    
}

body{
    background-color: var(--bgcolor);
    color: var(--firstcolor);
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    position: relative;
    left: 0;
    top: -514px;
    background-color: var(--thirdcolor);
    height: 1520px;
    width: 250px;
    border: 2.8px solid var(--border);
}

.main {
    position: relative;
    display: flex;
    margin-left: 255px;
    padding: 5px;
}

.footer{
    height: 70px;
    width: 100vw;
    background-color: var(--footbor);
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: -519px;
    border: 1px solid var(--footbor);
}
.footer p{
    text-align: center;
    color: var(--thirdcolor);
    padding-top: 20px;
    margin-top: 5px ;
    
}

.footer span{
    color: black;
    font-weight: 600;
    font-size: 1.1em;
    font-style: italic;
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.footer span a{
    color: rgb(58, 55, 55);
    text-decoration: none;
}