* {
    padding: 0;
    margin: 0;
}

div nav {
    padding: 15px;
    margin: 15px;
    font-size: x-large;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: aliceblue;
}

body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
}

.box {
    width: 99vw;
    height: 100vh;
    border: 2px solid #ccc;
    background-color: rgb(205, 224, 241);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1 {
    position: relative;
    height: 80vh;
    width: 40vw;
    right: 3vw;
    margin-top: 50px;
    background-color: #f0f0f0;
    justify-content: center;
}

.box2 {
    position: relative;
    height: 80vh;
    width: 40vw;
    margin-top: 50px;
    right: 2px;
    background-color: #f0f0f0;
}


.box3 {
    height: 15vh;
    width: 45vw;
    border: 1px solid rgb(110, 124, 129);
    margin-top: 20vh;
    border-radius: 30px;
}

.box3 p {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: rgb(110, 124, 129);
    font-weight: bold;
    margin-top: 40px;

}

.orange-box{
    border: 2px solid orange;
    background-color: orange;
    border-radius: 20px;
    height: 32px;
    width: 32px;
    position: fixed;
    right: 23px;
    margin-top: 80vh;
}

.footer {
    height: 10vh;
    width: 100%;
    background-color: #90caf9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
}