.logo{
    /* width: 40px; */
    height: 20px;
}

.logo img {
    margin-top: -15px;
    width: 164px;;
}

.sub{
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 100px;
    margin-top: -20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right ul{
    display: flex;
    gap: 50px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-family: sans-serif;
}